<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>로그인</title>
</head>
<body>
<h1>로그인</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form action="/login" method="post">
            <div>
                <label for="nickname">닉네임</label><br>
                <input type="text" id="nickname"  name="nickname" placeholder="닉네임을 입력하세요">
            </div>
            <br>
            <div>
                <label for="password">비밀번호</label><br>
                <input type="text" id="password"  name="password" placeholder="비밀번호를 입력하세요">
            </div>
            <br>
            <a href="/" role="button">취소</a>
            <button type="submit">로그인</button>
        </form>
    </div>
</div>

<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/app/index.js"></script>
</body>
</html>